{% extends "layout.html" %}
{% block content %}
<h1>Početna</h1>
<!--
<div>
    <h3>user</h3>
        <p>Početna</p>
        <p>Prikazivači</p>
        <p>distributeri</p>
        <p>Producenti</p>
        <p>FAQ</p>
        <p>Kontakt</p>
    <h3>distributor</h3>
        <p>O pravnom licu</p>
        <p>Lista filmova</p>
        <p>Kalendar distribucije</p>
        <p>Prikazivači</p>
    <h3>cinema</h3>
        <p>Podaci o pravnom licu</p>
        <p>Podaci o zastupnicima</p>
        <p>Podaci o bioskopu</p>
        <p>Podaci o salama</p>
        <p>Kontakti u bioskopu</p>
        <p>Kalendar distribucije</p>
        <p>Projekcije</p>
    <h3>producer</h3>
        <p>O pravnom licu</p>
        <p>Lista filmova</p>
    <h3>admin</h3>
    <p></p>
    <p></p>
</div>
-->
{% endblock %}